<%= toolbar title: t("Información TS") do %>
<% end %>
<div>
<%= link_to "Enviar", "http://3.130.0.185:8080/pmoDev/api/v3/projects/27/work_packages?columns%5B%5D=id&columns%5B%5D=subject&columns%5B%5D=assignee&columns%5B%5D=type&columns%5B%5D=spentTime&columns%5B%5D=version&filters=%5B%7B%22category%22%3A%7B%22operator%22%3A%22%3D%22%2C%22values%22%3A%5B%2214%22%5D%7D%7D%5D&offset=1&pageSize=20&showHierarchies=true&showSums=false&sortBy=%5B%5B%22id%22%2C%22asc%22%5D%5D", class: "-highlight button" %>
</div>